#weibo
{
list-style-type: none;
padding: 0px;
margin-left: 0px !important;
}
#weibo li
{
list-style-type: none;
margin-bottom: 8px;
background-image: url(weibo.png);
background-repeat: no-repeat;
background-position: 0px 0px;
padding-left: 24px;
}
#weibo a.weibo_link
{
margin-left: 10px;
display: inline;
color: orange;
padding: 0;
line-height: 16px;
}
#weibo a.weibo_link:hover
{
color: red;
background: none;
text-decoration: underline;
}p.follow_me{background-image: url(fol.png);background-repeat: no-repeat;
background-position: 0px 0px;padding-left: 20px;
float: right;}
